<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="TPN checker"
            extensions="npnets"
            icon="src/icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="tpnchecker.editors.NPNEditor"
            id="npnetanalyser.editors.NPNEditor">
      </editor>
   </extension>

</plugin>
